<% if model.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('errors.template.header', count: model.errors.count, model: model.model_name.human) %>:</h2>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
