<h1>
  <!-- app/assets/images/cat.png -->
  This part is written on ERB file
  <!-- app/javascript/packs/images/logo.png -->
</h1>
<p class="page_index_p_title" class="page_index">Find me in app/views/page/index.html.erb</p>

<!-- Rendered by vue JS -->
<div id='app'></div>
<!-- // Rendered by vue JS -->
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>